<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer type="text/javascript" src="{{ url_for('static', filename='create_account.js') }}"></script>
    <title>Create Account</title>
</head>
<body>
    <h1>Create Account</h1>
    <h2>{{ error }}</h2>
    <form action="/create_account" method="POST" id="form">
        Email <input type="text" name="email" id="email" required> 
        Password <input type="password" name="password" id="password" required> 
        Firstname <input type="text" name="firstname" id="firstname" required> 
        Lastname <input type="text" name="lastname" id="lastname" required> 
        Address <input type="text" name="address" id="address" required> 
        SSN <input type="text" name="ssn" id="ssn" required> 
        {% if session['type'] == 'Admin' %}
        <select name="user_type">
            {% for type in user_types %}
                <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>
        {% endif %}
    <input type="submit" name="submit"> 
    </form>
</body>
</html>