<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
</head>
<body>
    <h1>Thank you for your application!</h1>
    <h3>Remember to view your application status on the homepage <br>
    Make sure to mail your transcript  and send an email to your recommender if you haven't already!</h3>

    <a href="\home">homepage</a>
</body>
</html>